* {
  box-sizing: border-box;
}

.all-buttons {
  display: flex;
}

.button {
  font-size: 18px;
  width: 64px;
  height: 44px;
  display: flex;
  align-items: top;
  justify-content: left;
  border: 1px solid blue;

  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  padding: 0px 0px 0px 6px;
}

/* Special rules for ON/C and . buttons */
#c {
  padding-left: 2px;
}

#dot {
  padding-left: 8px;
  line-height: 6px;
  font-size: 2em;
}

.operators {
  display: grid;
  grid-template-columns: 50px;
}

.equals {
  height: 40px;
}

.numbers,
.advanced {
  display: grid;
  grid-template-columns: 5em 5em 5em;
}

.white {
  background-color: white;
  color: black;
}

.red {
  background-color: red;
  color: white;
}
