* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.bottom-half {
  display: flex;
  justify-content: center;
  background-color: #065398;
  border: none;
  width: 364px;
  padding-top: 16px;
  padding-bottom: 40px;

  border-bottom-right-radius: 25px 30px;
  border-bottom-left-radius: 25px 30px;
}

.all-buttons {
  width: 334px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  gap: 32px;
  justify-content: center;

  background-color: #065398;
  border: 4px solid #062047;
  border-radius: 8px;
}

.button {
  font-size: 18px;
  width: 64px;
  height: 44px;
  display: flex;
  align-items: top;
  justify-content: left;

  border-radius: 5px;

  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  padding: 0px 0px 0px 6px;
}

/* Special rules for ON/C = and . buttons */
#c {
  padding-left: 2px;
}

.dot {
  padding-left: 8px;
  line-height: 6px;
  font-size: 2em;
}

.button.equals {
  height: 104px;
}

.operators {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.equals {
  height: 40px;
}

.numbers,
.advanced {
  display: grid;
  grid-template-columns: 64px 64px 64px;
  column-gap: 10px;
  row-gap: 16px;
}

.left-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.white {
  background-color: white;
  color: black;
}

.red {
  background-color: #c62834;
  color: #eeeff2;
}
