.all-buttons {
  display: flex;
}

.operators {
  display: grid;
  grid-template-columns: 50px;
}

.equals {
  height: 40px;
}

.numbers,
.advanced {
  display: grid;
  grid-template-columns: 50px 50px 50px;
}

.white {
  background-color: white;
  color: black;
}

.red {
  background-color: red;
  color: white;
}
